# Key files
*.openssh
*.jks

hcimdd/DeathDate-war/target
hcimdd/ESB-common/target

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.terraform.lock.hcl
**/.terragrunt-cache/*