# Config files and key files for each environment
config

# XML files for web app
DeathDate-war/src/main/webapp/WEB-INF

# Folders that the project compiles into
DeathDate-war/target
ESB-common/target
