# Config files for each environment and key files
config

# Test cases and other resources for testing
DeathDate-war/src/test

# Folders that the project compiles too
DeathDate-war/target
ESB-common/target
